.searchForm {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    gap: 8px;
    width: 100%;
    max-width: 400px;
}
  
.searchForm input {
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.searchForm input[type="text"] {
    width: 100%;
}
  
.searchForm input[type="submit"] {
    width: 150px;
}
  